
<p><%= day %></p>



   
        
        <p><%= monday.slot %></p>
        <p><%= monday.subjectname %></p>
        <p><%= monday.subjectcode %></p>
        <p><%= monday.faculityname %></p>
        <a href="<%=monday.classlink%>">Join class now</a>
        <meta http-equiv="refresh" content="5; url=<%=monday.classlink%>"/> 
   
   
